$primary-main: #2962ff;
$primary-light: #768fff;
$primary-dark: #0039cb;

$secondary-main: #64b5f6;
$secondary-light: #9be7ff;
$secondary-dark: #2286c3;

$background: #ffffff;
$surface: #ffffff;

$error-background-color: #B00020;
$error-font-color: #ffffff;

$on-primary-main-color: #ffffff;
$on-primary-light-color: #000000;
$on-primary-dark-color: #ffffff;

$on-secondary-main-color: #000000;
$on-secondary-light-color: #000000;
$on-secondary-dark-color: #000000;
