$primary-main: #2962ff;
$primary-light: #768fff;
$primary-dark: #0039cb;

$secondary-main: #64b5f6;
$secondary-light: #9be7ff;
$secondary-dark: #2286c3;

$background: #fff;
$surface: #fff;

$error-background-color: #b00020;
$error-font-color: #fff;

$on-primary-main-color: #fff;
$on-primary-light-color: #000;
$on-primary-dark-color: #fff;

$on-secondary-main-color: #000;
$on-secondary-light-color: #000;
$on-secondary-dark-color: #000;
